body {
  margin: 0;
  padding: 0;
}


/* Navigation Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;

}

ul li {
  float: left;
}

ul li a, #userStatus {
  display: block;
  color: rgb(105, 103, 103);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #dddddd;
}

ul li a.active {
  background-color: #85d1c7;
}

.welcome {
  position: absolute;
  left: 45%;
  padding: 14px 16px;
  color: rgb(105, 103, 103);
  font-size: 20px;
}


/* Game Selection Buttons */
.gameSelection button{
  padding: 20px 40px;
  font-size: 15px;
  cursor: pointer;
  color: rgb(105, 103, 103);
  font-size: 20px;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.gameSelection button:hover {
  background-color: #dddddd;
}

.gameSelection {
  text-align: center;
}

.GTN {
  position: absolute;
  right: 25%;
  transform: translateX(50%);
  top: 70%;
}


/* Center Line */
.centerLine {
  width: 2px;
  height: 100vh;
  background-color: rgb(105, 103, 103);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Left side of the welcome page*/
.leftSide, .rightSide {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
}

.leftSide img, .rightSide img {
  width: 80%;
}

.description {
  color: rgb(105, 103, 103);
}

/* Right side of the welcome page*/