body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(105, 103, 103);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #dddddd;
}

ul li a.active {
  background-color: #85d1c7;
}

.centre {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}