body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;

}

ul li {
  float: left;
}

ul li a, #userStatus {
  display: block;
  color: rgb(105, 103, 103);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #dddddd;
}

ul li a.active {
  background-color: #85d1c7;
}

.welcome {
  position: absolute;
  left: 45%;
  padding: 14px 16px;
  color: rgb(105, 103, 103);
  font-size: 20px;
}


/* Game Selection Buttons */
.gameSelection button{
  padding: 8px 16px;
  font-size: 15px;
  cursor: pointer;
  color: rgb(105, 103, 103);
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.gameSelection button:hover {
  background-color: #dddddd;
}

.gameSelection {
  text-align: center;

}